a {
    color: #92a48c;
}

h1, h2, h3, h4 {
    color: #6d463e;
    margin-left: 35px;
     font-family: 'Libre Baskerville', serif;
}

.btn-default, .contactButton {
    background-color: #92a48c;
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.7rem;
}

.nav{
    list-style:none;
    margin: 20px;
    text-align: center;
    font-size: 2rem;

}


.newbg {
    background-color: white; 
   font-family: 'Libre Baskerville', serif;
  
}


#landingImage {
position:relative;
color: white;
text-align: center;
margin-top: 0px;

}

.landingText {
    position: absolute;
    margin: auto;
    top: 20px; left: 0; bottom: 0; right: 20px;
	/*font-family: 'Satisfy', cursive;*/
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-family: 'Libre Baskerville', serif;
	top: 20%;
    font-size: 6rem;
}

.landingLogo {
     -webkit-filter: hue-rotate(40deg) brightness(200%);
}

.aboutImage {
     -webkit-filter: grayscale(1) brightness(110%);
}

#aboutMe, .articleContent{
    font-family: 'Libre Baskerville', serif;
    color: #4a4a4f;
    background-color: white;
    font-size: 2rem;
    margin-left: 35px;
}


.contactButton {
    background-color: #92A48C;
    border-color: #92A48C;
    font-size: 2rem;
    color: white;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}

.aboutMeText, .formText, .galleryIntro, .menuParagraph {
    font-size: 1.6rem;
    line-height: 1.7;
    font-family: 'Libre Baskerville', serif;
}

.menuParagraph {
    padding: 10px 10px 10px 10px;
    line-height: 2;
}

.card {
-webkit-box-shadow: 3px 6px 19px 0px rgba(146,164,140,1);
}

.card img {
    margin: auto;
    padding: 10px 10px 10px 10px;
}




#contact {
            background: url(./images/champagne.jpg);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: auto;
            /*-webkit-filter: hue-rotate(300deg);*/
            opacity: 0.8;
         
}

.myForm {
    padding-bottom: 20px;
}

.formHeader, .formText {
    color: white;
}

#text-carousel{
   
    /*background: rgba(255,255,255,0.8);*/
    
}

.carousel1 {
    opacity: 0.8;
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    color: #92a48c;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    opacity: 1.0;
}

.carousel2 {
   font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    color: #92a48c;
    text-align: center;
    opacity: 1.0;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.carousel-control {
    color: #92a48c;
}

.footerLogo {
    margin: auto;
}

#Footer {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.6rem;
    text-align: center;
}

/*Menu page*/

.menuContainer {
    margin-top: 100px;
    background-image: url(./images/festival.jpg);
}

.menuCard {
    background-color: white;
    opacity: 0.7;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px ;
}

.menuIntro {
    color: white;
    font-size: 1.6rem;
    line-height: 1.7;
    font-family: 'Libre Baskerville', serif;
}


@media only screen and (max-width: 500px) {
    .carousel1, .carousel2 {
        font-size: 1.5rem;
        margin: auto;
    }
}





